
.hero-section{
    background: url("../assets/bg3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2rem;
}
.hero-content{
    border: 1px solid white;
    width: 34rem;
    background-color: rgba(231, 231, 241, 0.7);
    /* margin-left: -45rem; */
    padding: 2rem;
    border-radius: 1rem;
    
}
.tagline{
    margin-left: 1rem;
    font-size: 2rem;
}
.hero-text{
    margin-left: 1rem;
    font-size: 1.3rem;
}
.cta{
    margin-left: 1rem;
    text-transform: capitalize;
    
}
.cta a{
    color: #f3e9dc;
    text-decoration: none;
    font-size: 1.2rem;
    padding: .8rem;
    background-color: #895737;
    border-radius: .4rem;
    transition: ease-in-out .3s;

}
.cta a:hover{
    background-color: #c08552;
    transform: scale(95%);
}
.about-section{
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-left: 5rem;
    
}
.about-text{
    width: 50%;
    
}
.title{
    text-transform: capitalize;
    font-size: 2rem;
    
}
.about-text p{
    font-size: 1.3rem;
}
.about-images{
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;

}
.about-images #img1{
    width: 13rem;
    height: 10rem;
    position: absolute;
    z-index: 2;
    margin-top: -5rem;
    margin-left: 15rem;
}
.about-images #img2{
    width: 25rem;
    height: 17rem;
    position: absolute;
}
.about-images img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}